
		<!-- Start Footer Bottom Area -->
		<footer class="footer-bottom-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="copy-right">
							<p>© Seku is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="condition-privacy">
							<ul>
								<li>
									<a href="terms-conditions.html">Terms & Condition</a>
								</li>
								<li>
									<a href="privacy-policy.html">Privacy Policy</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Bottom Area -->