<!DOCTYPE html>
<html>
<head>
  <title>Event Landing Page</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <h1>Upcoming Event</h1>
  </header>

  <section id="about">
    <h2>About the Event</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a faucibus vestibulum, ipsum magna malesuada velit, sit amet blandit magna augue id magna.</p>
  </section>
  <section id="schedule">
    <h2>Event Schedule</h2>
    <ul>
      <li>9:00am - Registration</li>
      <li>10:00am - Keynote Speaker</li>
      <li>12:00pm - Lunch</li>
      <li>1:00pm - Breakout Sessions</li>
      <li>5:00pm - Networking Reception</li>
    </ul>
  </section>
  <div class = "row">
    <div class = "col-sm-6 col-md-3">
       <div class = "thumbnail">
          <img src = "static/mypics/15.jpg" alt = "Generic placeholder thumbnail">
       </div>
       <div class = "caption">
          <h3> Event1</h3>
          <p>Some sample text. Some sample text.</p>
          <p>
             <a href = "/checkoutbtn1" class = "btn btn-primary" role = "button">
            btn1
         </a> 
         
         <a href = "#" class = "btn btn-default" role = "button">
            btn2
         </a>
      </p>
   </div>
</div>

<div class = "col-sm-6 col-md-3">
   <div class = "thumbnail">
      <img src = "static/mypics/8.jpg" alt = "Generic placeholder thumbnail">
   </div>
   
   <div class = "caption">
      <h3>Event 2</h3>
      <p>Some sample text. Some sample text.</p>
      
      <p>
         <a href = "/checkoutbtn1" class = "btn btn-primary" role = "button">
            btn1
         </a> 
         
         <a href = "#" class = "btn btn-default" role = "button">
            btn2
         </a>
      </p>
   </div>
</div>

<div class = "col-sm-6 col-md-3">
   <div class = "thumbnail">
      <img src = "static/mypics/9.jpg" alt = "Generic placeholder thumbnail">
   </div>
   
   <div class = "caption">
      <h3>Event4</h3>
      <p>Some sample text. Some sample text.</p>
      
      <p>
         <a href = "/checkoutbtn1" class = "btn btn-primary" role = "button">
            btn1
         </a> 
         
         <a href = "#" class = "btn btn-default" role =" button">
         btn2
         </a>
      </p>
   </div>
</div>

<div class = "col-sm-6 col-md-3">
   <div class = "thumbnail">
      <img src = "static/mypics/11.jpg" alt = "Generic placeholder thumbnail">
   </div>
   
   <div class = "caption">
      <h3>Event5</h3>
      <p>Some sample text. Some sample text.</p>
      
      <p>
         <a href = "/checkoutbtn1" class = "btn btn-primary" role = "button">
            btn1
         </a> 
         
         <a href = "#" class = "btn btn-default" role = "button">
            btn2
         </a>
      </p>
   </div>
</div>
</div>

  <section id="location">
    <h2>Event Location</h2>
    <p>123 Main St, Anytown USA</p>
  </section>
  <section id="register">
    <h2>Register for the Event</h2>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br>
      <input type="submit" value="Submit">
    </form>
  </section>
  <footer>
    <p>Copyright ©2021 EventCo</p>
  </footer>
</body>
</html>
