<!-- Start Banner Area -->
		<section class="banner-area banner-area-two">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container-fluid">
						<div class="row align-items-center">
							<div class="col-lg-6">
								<div class="banner-text">
									<span class="wow animate__animated animate__fadeInDown" data-wow-delay="1s">All Research up to Blockchain Interoperability is completed</span>
									<h1 class="wow animate__animated animate__fadeInLeft" data-wow-delay="1s">Real-Time Monitoring your infrastructure</h1>
									<p class="wow animate__animated animate__fadeInRight" data-wow-delay="1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil architecto laborum eaque! Deserunt maxime, minus quas molestiae reiciendis esse natus nisi iure.</p>
		
									<div class="banner-btn wow animate__animated animate__fadeInUp" data-wow-delay="1s">
										<a class="default-btn" href="pricing.html">
											Booking Now
										</a>
										<a class="default-btn active" href="about.html">
											About Us
										</a>
									</div>
								</div>
							</div>
							
							<div class="col-lg-6">
								<div class="banner-site-img four wow animate__animated animate__fadeInDown" data-wow-delay=".6s">
									<img src="assets/img/banner-img/home-four/banner-site-img.png" alt="Image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
